global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'docker-swarm-services'
    docker_sd_configs:
      - host: unix:///var/run/docker.sock
        refresh_interval: 15s
    relabel_configs:
      - source_labels: [__meta_docker_container_name]
        regex: '/(.*)'
        target_label: container
      
  - job_name: 'web-app'
    static_configs:
      - targets: ['tasks.web:3000']
        
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']